language: r
r: devel
sudo: true
cache: packages
dist: trusty

warnings_are_errors: true

before_install:
  - mkdir ~/.R && echo 'CXX11=g++ -std=c++11 -g -O2 -fPIC' > ~/.R/Makevars

script:
  - R CMD build . ${R_BUILD_ARGS}
  - R CMD check `ls -1t *.tar.gz | head -n 1` ${R_CHECK_ARGS}$


env:
   global:
     - R_BUILD_ARGS="--no-build-vignettes --no-manual --compact-vignettes=gs+qpdf" 
     - R_CHECK_ARGS="--no-build-vignettes --no-manual --as-cran"


# report coverage rate to coveralls
after_success:
  - Rscript -e 'covr::coveralls(exclusions = "src/RcppExports.cpp")'

